@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  src: local('Modak'), url(https://fonts.gstatic.com/s/modak/v4/EJRYQgs1XtIEskMA-hE.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #FFF176;
}
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #F57F17;
  text-shadow: -1px -1px 0 #FFEB3B, 1px -1px 0 #FFEB3B, -1px 1px 0 #FFEB3B, 1px 1px 0 #FFEB3B;
}
.navigation h1 {
  font-family: 'Modak', cursive;
  color: #403C1D;
  font-size: 5rem;
  text-align: center;
}
.navigation nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem;
}
.navigation nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #403C1D;
  padding: 5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navigation nav a:hover {
  color: white;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .navigation {
    padding: 2rem;
    padding-top: 5rem;
    height: 10rem;
  }
  .navigation h1 {
    font-size: 3rem;
    text-align: center;
  }
  .navigation nav {
    display: flex;
    justify-content: center;
  }
  .navigation nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 2rem;
    padding-top: 0rem;
  }
  .navigation nav a:hover {
    color: white;
    font-weight: bolder;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 10rem;
  padding: 3rem;
  background-color: #FFF176;
  color: #403C1D;
}
.container .top-content p {
  text-align: justify;
  color: #403C1D;
}
.container .top-content h3 {
  text-align: center;
  color: #FBC02D;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.container .app {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}
.container .app p {
  color: #403C1D;
}
.container .app h3 {
  color: #FBC02D;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin-bottom: 3rem;
}
.container .app button {
  font-size: 1.5rem;
  padding: 2rem 5rem;
  border: 2px solid #F9A825;
  border-radius: 12px;
  background-color: #FFEB3B;
}
.container .app button:hover {
  background-color: #FFF9C4;
  cursor: pointer;
}
.container .app #mapholder {
  width: 70%;
  height: auto;
}
.container .app #mapholder h1 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .app button {
    width: 100%;
  }
}
