.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  background-color: @yellow900;
  text-shadow: -1px -1px 0 @yellow500, 1px -1px 0 @yellow500,
    -1px 1px 0 @yellow500, 1px 1px 0 @yellow500;

  h1 {
    font-family: @header-font;
    color: #403C1D;
    font-size: 5rem;
    text-align: center;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1rem;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #403C1D;
      padding: 5rem;
      padding-top: 0rem;
      padding-bottom: 0rem;

      &:hover {
        color: white;
        font-weight: bolder;
      }
    }
  }

  @media @phone {
    padding: 2rem;
    padding-top: 5rem;
    height: 10rem;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: center;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        padding: 2rem;

        &:hover {
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
}
